body {
  font-family: 'Maven Pro', sans-serif;
  margin: 20px;
}

.audio-wrapper {
  padding: 10px 0px;
}

.audio-wrapper p {
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-top: 5px;
  margin-bottom: 0;
}

.img-wrapper {
  text-align: center;
}

.img-wrapper > img {
  max-width: 560px;
  width: 100%;
}

.img-wrapper > p {
  font-size: 14px;
  text-align: center;
  color: gray;
  margin-top: 0;
}

a {
  color:gray;
  text-decoration:none;
}

a:hover {
  color:lightgray;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}

h2:after {
  margin-top: 5px;
  content: ' ';
  display: block;
  border: 1px solid black;
}

/* graph titles */
h3 {
  text-align: center;
}

/* LEGEND styling */

.legend {
  overflow: auto;
}

.legend .legend-title {
  text-align: left;
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 90%;
}

.legend .legend-scale ul {
  margin-top: 10px;
  margin-bottom: 0px;
  padding: 0;
  float: left;
  list-style: none;
}

.legend .legend-scale ul li {
  display: block;
  float: left;
  width: 100px;
  text-align: center;
  font-size: 80%;
  list-style: none;
}

.legend ul.pie-legend li span {
  display: inline-block;
  height: 15px;
  width: 75px;
}

.legend ul.bar-legend li span {
  display: inline-block;
  height: 15px;
  width: 75px;
}
